.date-limitation:first-child{
	margin-bottom:6px;
}

.date-limitation span{
	margin-right:4px;
}

.date-limitation-label{
	display: inline-block;
	width:50px;
}

.date-limitation-amount input[type="text"]{
	padding:1px 3px;
	max-width:60px;
}