@import '../../../../shared/styles/variables';

zs-contact-navigation{

	ul{
		@media #{$medium-large-and-up}{
			padding:.5rem;
		}
	}

	a{
		display: flex;
		color: rgb(106,106,106);
		padding: 0.667rem 0;
		align-items: center;
		border-radius:$border-radius;
		justify-content: center;

		@media #{$medium-large-and-up}{
			justify-content: flex-start;
		}

		&.selected, &.selected:hover{
			background: rgb(224,224,224);
			color: rgb(25,104,152);
		}
		&:hover{
			background: #e9e9e9;
		}
		&.selected span{
			font-weight: 500;
		}
	}

	zs-icon, span{
		display: inline-block;
		vertical-align: middle;
	}

	zs-icon{
		font-size: 1.5em;
		padding-left: 1rem;
		padding-right: 1rem;
		line-height: 1.6rem;
	}

	span{
		font-size: 1.05rem;
	}
}