<style>
textarea {
        width: 100%;
        border: 1px solid gray;
        font-family: Courier new;
}
</style>
<div class="block">

    <div class="header">Key2finance Testbench</div>

    <div class="blockcontent">
        <p>Deze pagina simuleert alle stappen om een export te doen.</p>

        <h2>Stap 1: Maak transactie aan</h2>
        <p>Hier wordt een nieuwe transactie aangemaakt, daarna een selectie gedaan van de informatie en een aantal transactie records aangemaakt.</p>


        <h2>Stap 2: Exporteer de informatie in STDDEB formaat</h2>

        <textarea>[% stddeb_csv %]</textarea>

        <h2>Stap 3: Exporteer de informatie in STDNAW formaat</h2>

        <textarea>[% stdnaw_csv %]</textarea>

        <h2>Stap 4: Sluit de transactie</h2>

    </div>
</div>



<!--
        <br/>
        Selectie:<br/>

        <ul>
        [% WHILE (case = cases.next()) %]
            <li>case id: [% case.id %]</li>
        [% END %]
        </ul>
-->