<ul class="sidebar-item-list check-list">
	<li
		class="sidebar-item"
		ng-repeat="item in $ctrl.getItems() track by item.$id"
		ng-class="item.classes"
	>
		<div class="sidebar-item-label">
			<label>
				<input
					type="checkbox"
					ng-checked="item.checked"
					ng-click="item.togglable && $ctrl.handleItemToggle(item, $event)"
					zs-disabled="!item.togglable"
				>
				<span class="sidebar-item-title">{{::item.label}}</span>
			</label>
		</div>

		<div
			class="sidebar-item-action"
			ng-show="item.deletable"
		>
			<button ng-click="$ctrl.handleItemRemove(item)">
				<zs-icon icon-type="close"></zs-icon>
			</button>
		</div>
	</li>
	<li
		class="sidebar-item sidebar-item-empty checklist-empty"
		ng-show="!$ctrl.getItems().length && !$ctrl.isLoading()"
	>
		Er zijn geen checklistitems voor deze fase.
	</li>
</ul>

<div
	class="checklist-item-add"
	ng-show="!$ctrl.disabled() && !$ctrl.isLoading()"
>
	<form ng-submit="$ctrl.handleItemAdd($ctrl.newItemContent)">
		<input
			type="text"
			ng-model="$ctrl.newItemContent"
			ng-required placeholder="Nieuw checklistitem toevoegen"
		>
	</form>
</div>

<zs-spinner
	class="view-spinner"
	is-loading="$ctrl.isLoading()"
></zs-spinner>
