.send-message {
    form {
        &.modal-medium {
          width: calc(100% + 3rem);
          margin:0 -1.5rem -1.5rem;
        }
        .row-config label {
            display: inline-block !important;
            margin-right: 8px;
            line-height: 1;
        }
        
        .spot-enlighter-tag-wrapper {
            padding: 10px 0 10px 23px;
        }
    }

    .form-actions {
      padding: 15px 15px;

      .button {
        margin-left: 8px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
}

.send-email-wrapper {
    width: auto;
    @media #{$medium-and-up} {
        width: 550px;
    }
    @media #{$large-and-up} {
        width: 900px;
    }
}

.doc-send-email-preview {
    display: block;
    width: calc(100% + 3rem);
    margin:0 -1.5rem;
}

.doc-sendmessage-form__errors {
    padding: 1.5rem;
    li {
        list-style-type: disc;
        margin-left: 2rem;
    }
}

.sendmessage-tabs {
    margin: 0 -1.5rem 0rem -1.5rem;
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
    &:after {
        position: absolute;
        display: block;
        content: '';
        height: 1px;
        width: 100%;
        background-color: $light-grey;
        bottom: 0px;
    }
}

.sendmessage-tab {
    &:first-child {
        margin-left: 1.5rem;
    }
    margin-right: 5rem;
    display: flex;
    align-items: center;
    height: 48px;
    position: relative;
    a {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: $grey;
        height: 100%;
        >* {
            margin-right: 7px;
        }
    }
    i {
        svg {
            width: 24px;
            height: 20px;
            path {
                fill: $grey;
            }
        }
        color: $grey;
        font-size: 19px;
    }
    i.mdi-email-outline {
        margin-top: -2px;
    }
    i.icon-mijnoverheid {
        margin-top: 3px;
    }
    &.active,
    &:hover:not(.disabled) {
        a {
            color: $primary-color;
        }
        i {
            color: $primary-color;
            svg path {
                fill: $primary-color;
            }
        }
        &:after {
            position: absolute;
            bottom: 0px;
            left: 0px;
            display: block;
            width: 100%;
            content: '';
            height: 3px;
            background-color: $primary-color;
        }
    }
    &.disabled {
        a {
            opacity: 0.4;
            pointer-events: none;
        }
        a,
        svg path {
            color: $icon-grey;
            fill: $icon-grey;
        }
    }
    .spinner-wrapper {
        transform: scale(0.5);
    }
}
