



<div class="woz">

<div  
    data-ng-init="init('[% woz_object.id %]','[% woz_object.owner %]','[% woz_object.object_id %]')"
    data-ng-controller="nl.mintlab.plugins.WozTaxatieverslagController" class="woz-taxatierapport-kaal woz-taxatierapport-kaal">


    [% BLOCK view_bedrijf %]
        [%
            rechtsvormmap = {
                '01'  => 'Eenmanszaak',
                '11'  => 'Vennootschap onder firma',
                '21'  => 'Commanditaire vennootschap',
                '07'  => 'Maatschap',
                '41'  => 'Besloten Vennootschap',
                '51'  => 'Naamloze Vennootschap',
                '70'  => 'Vereniging',
                '81'  => 'Co&ouml;peratieve en onderlinge waarborgmaatschappij',
                '74'  => 'Stichting',
            };
        %]

     <div class="woz-taxatierapport-user-info">
        [% betrokkene.handelsnaam %] [% rechtsvormmap.${betrokkene.rechtsvorm} %]</br>
        [% betrokkene.vestiging_straatnaam %] [% betrokkene.vestiging_huisnummer %][% betrokkene.vestiging_huisnummertoevoeging %]</br>
        [% betrokkene.vestiging_postcode %] [% betrokkene.vestiging_woonplaats %]
    </div>

    [% END %]


    [% BLOCK view_natuurlijk_persoon %]

    <div class="woz-taxatierapport-user-info">
    [% betrokkene.voornamen %] [% betrokkene.voorvoegsel %] [% betrokkene.geslachtsnaam %] [% betrokkene.achternaam %]</br>
    [% betrokkene.straatnaam %] [% betrokkene.huisnummer %][% betrokkene.huisletter %][% betrokkene.huisnummertoevoeging %]</br>
    [% betrokkene.postcode %] [% betrokkene.woonplaats %]
    </div>

    [% END %]

[% IF betrokkene.btype == 'bedrijf' %]
    [% PROCESS view_bedrijf %]
[% ELSIF betrokkene.btype == 'natuurlijk_persoon' %]
    [% PROCESS view_natuurlijk_persoon %]
[% END %]

        <div>
            <h1 class="woz-straat">Taxatieverslag <[woz_object.report_type==='woning'&&'woning'||'niet-woning']>
            <[woz_object['Straatnaam']]>
            <[woz_object['Huisnummer']]>
            <[woz_object['Huisletter']]>
            <[woz_object['Huisnummertoevoeging']]>
            </h1>
        </div>
        
        <div class="woz-info woz-taxatierapport-group clearfix">

            <div class="woz-photo-wrap" data-ng-show="woz_object.report_type==='woning'">
                <div class="woz-photo woz-photo-unavailable">
                    <img class="woz-photo-img" src="/plugins/woz/photo/[% woz_object.id %]?owner=[% woz_object.owner %]&amp;object_id=[% woz_object.object_id %]" />
                    <span>Geen foto beschikbaar</span>
                </div>
            </div>

            <div class="woz-taxatierapport-group-inner">

                <div class="woz-taxatierapport-title">
                    <strong>Aanduiding object</strong>
                </div>

                <div class="woz-taxatierapport-row">
                    <div class="woz-taxatierapport-label">Straatnaam:</div>
                    <div class="woz-taxatierapport-text"><[woz_object['Straatnaam']]></div>
                </div>
                <div class="woz-taxatierapport-row">
                    <div class="woz-taxatierapport-label">Huisnummer:</div>
                    <div class="woz-taxatierapport-text"><[woz_object['Huisnummer']]><[woz_object['Huisletter']]><[woz_object['Huisnummertoevoeging']]></div>
                </div>
                <div class="woz-taxatierapport-row">
                    <div class="woz-taxatierapport-label">Postcode:</div>
                    <div class="woz-taxatierapport-text"><[woz_object['Postcode']]></div>
                </div>
                <div class="woz-taxatierapport-row">
                    <div class="woz-taxatierapport-label">Woonplaats:</div>
                    <div class="woz-taxatierapport-text"><[woz_object['Woonplaatsnaam']]></div>
                </div>
                <div class="woz-taxatierapport-row">
                    <div class="woz-taxatierapport-label">WOZ-objectnummer:</div>
                    <div class="woz-taxatierapport-text"><[woz_object['WOZ-objectnummer']]></div>
                </div>

                <!--tr>
                    <td>Foto:</td><td>N.A.</td>
                </tr-->

                <div class="woz-taxatierapport-row">
                    <div class="woz-taxatierapport-label">Waardepeildatum:</div>
                    <div class="woz-taxatierapport-text"><[woz_object['Waardepeildatum'] | dateParse | date:medium ]></div>
                </div>
                <div class="woz-taxatierapport-row">
                    <div class="woz-taxatierapport-label">Toestandspeildatum:</div>
                    <div class="woz-taxatierapport-text"><[woz_object.onderbouwing_taxatie['Toestandspeildatum'] | dateParse | date:medium ]></div>
                </div>

            </div>

        </div>

        <div class="woz-taxatierapport-group">

            <div class="woz-taxatierapport-title">
                <strong>Vastgestelde WOZ-waarde</strong>
            </div>

            <div class="woz-taxatierapport-row">
                <div class="woz-taxatierapport-label">Vastgestelde waarde:</div>
                <div class="woz-taxatierapport-text">&euro; <[woz_object['Vastgestelde waarde'] | number:0 ]> (Waardepeildatum <[woz_object['Waardepeildatum'] | dateParse | date:medium ]>)</div>
            </div>
            <!--tr>
                <td>Vorige vastgestelde WOZ-waarde:</td><td>[[verandering_vastgestelde_woz_waarde]] uitrekenen in javascript (alleen als oude waarden beschikbaar)</td>
            </tr-->
            <div class="woz-taxatierapport-row" data-ng-show="woz_object.report_type==='woning'">
                <div class="woz-taxatierapport-label">Toelichting over de waarde:</div>
                <div class="woz-taxatierapport-text" data-ng-bind-html="getTrustedHtml(settings.woz_waardebepaling_text)"></div>
            </div>

        </div>

        <div class="woz-taxatierapport-group">

            <div class="woz-taxatierapport-title">
                <strong>Objectgegevens</strong>
            </div>

            <div class="woz-taxatierapport-row">
                <div class="woz-taxatierapport-label">Type:</div>
                <div class="woz-taxatierapport-text"><[woz_object.objectcodes[woz_object.onderbouwing_taxatie['Soort-object-code']]["Omschrijving Vastgoedobjectsoort"]]></div>
            </div>

            <div class="woz-taxatierapport-row" data-ng-show="woz_object.report_type==='agrarisch'||woz_object.report_type==='huurwaardekapitalisatie'||woz_object.report_type==='incourant'">
                <div class="woz-taxatierapport-label">Bouwjaar:</div>
                <div class="woz-taxatierapport-text"><[woz_object.bouwjaar]></div>
            </div>


            <div class="woz-taxatierapport-row" data-ng-show="woz_object.report_type==='agrarisch'">
                <div class="woz-taxatierapport-label">Meegetaxeerde oppervlakte gebouwd:</div>
                <div class="woz-taxatierapport-text"><[woz_object['Meegetaxeerde oppervlakte gebouwd'] | number:0]>m&sup2;</div>
            </div>


            <div class="woz-taxatierapport-row" data-ng-show="woz_object.report_type==='huurwaardekapitalisatie'">
                <div class="woz-taxatierapport-label">Grootte van het object:</div>
                <div class="woz-taxatierapport-text"><[woz_object.totale_oppervlakte]>m&sup2;</div>
            </div>


            <div class="woz-taxatierapport-row">
                <div class="woz-taxatierapport-label">Bijzondere gegevens:</div>
                <div class="woz-taxatierapport-text"><[woz_object.monumentaanduiding]></div>
            </div>

            <!--
            soort object code: <[woz_object.onderbouwing_taxatie['Soort-object-code']]>
            type aanduiding: <[woz_object.onderbouwing_taxatie['Type-aanduiding']]> -->
            <!--div class="woz-taxatierapport-row">
                <div class="woz-taxatierapport-label">Soort objectcode:</div>
                <div class="woz-taxatierapport-text"><[woz_object.objectcodes[woz_object.onderbouwing_taxatie['Soort-object-code']]]></div>
            </div-->
            <!--tr>
                <td>Bouwjaar:</td><td><[woz_object.onderbouwing_taxatie['Type-aanduiding']]></td>
            </tr-->
        </div>

        <div class="woz-taxatierapport-group" data-ng-hide="woz_object.report_type==='woning'">

            <div class="woz-taxatierapport-title">
                <strong data-ng-show="woz_object.report_type==='agrarisch'">Opbouw taxatie</strong>
                <strong data-ng-show="woz_object.report_type==='huurwaardekapitalisatie'||woz_object.report_type==='grond'">Opbouw taxatie en kapitalisatie huurwaarde</strong>
                <strong data-ng-show="woz_object.report_type==='incourant'">Opbouw taxatie en gecorrigeerde vervangingswaarde</strong>
            </div>

            <div class="woz-taxatierapport-row">
                <table class="woz-data-table">
                    <thead>
                          <tr>
                              <th>Onderdelen</th>
                              <th>Bouwjaar</th>
                              <th>Oppervlakte m&sup2;</th>
                              <th>Inhoud m3</th>
                              <th data-ng-show="woz_object.report_type==='incourant'">Waarde</td>
                              <th data-ng-show="woz_object.report_type==='grond'||woz_object.report_type==='huurwaardekapitalisatie'">Waarde per stuk/eenheid</th>
                              <th>Waarde</th>
                          </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="onderdeel in woz_object.onderbouwing_taxatie_onderdeel">
                            <td><[woz_object.partialobjectcodes[onderdeel['Code onderdeel WOZ-object']]["Omschrijving code onderdeel"]]></td>
                            <td><[onderdeel['Bouwjaar']]></td>
                            <td><[onderdeel['Oppervlakte'] | number:0 ]> m&sup2;</td>
                            <td><[onderdeel['Inhoud'] | number:0 ]></td>
                            <td data-ng-show="woz_object.report_type==='grond'">&agrave; &euro; <[onderdeel['Waarde per stuk/eenheid']| number:0]>
                            </td>
                            <td data-ng-show="woz_object.report_type==='huurwaardekapitalisatie'">
                                <div data-ng-hide="onderdeel.Kapitalisatiefactor > 0">
                                    &agrave; &euro; <[onderdeel['Waarde per stuk/eenheid']| number:0]> 
                                </div>
                                <div data-ng-show="onderdeel.Kapitalisatiefactor > 0">
                                    <div>&agrave; &euro; <[onderdeel['Huurwaarde per vierkante meter']|number:0]></div>
                                    <div><['factor '+onderdeel.Kapitalisatiefactor/10]></div>
                                    <div>&euro; <[onderdeel.Huurwaarde|number:0]></div>
                                </div>
                            </td>
                            <td data-ng-show="woz_object.report_type==='incourant'">
                                <span data-ng-show="onderdeel.Restwaarde > 0">
                                Restwaarde: <[onderdeel.Restwaarde|number:0]>%</br>
                                Verwachte levensduur: <[onderdeel['Verwachte levensduur']|number:0]> jaar</br>
                                Vervangingskosten: &euro; <[onderdeel['Vervangingskosten per kubieke meter/ stuk/']|number:0]></br>
                                Ongecorrigeerde vervangingswaarde: &euro; <[onderdeel['Ongecorrigeerde vervangingswaarde']|number:0]></br>
                                Factor voor technische veroudering: <[onderdeel['Factor voor technische veroudering']/1000]>
                                </span>
                                <div data-ng-show="onderdeel['Factor voor technische veroudering'] > 0 && onderdeel['Factor voor technische veroudering'] < 1000">technische veroudering</div>
                                <div data-ng-show="onderdeel['Factor voor functionele veroudering'] > 0 &&onderdeel['Factor voor functionele veroudering'] < 1000">functionele veroudering</div>
                            </td>

                            <td>&euro; <[onderdeel['Bepaalde waarde onderdeel'] | number:0]></td>
                        </tr>
                        <tr class="taxatie-totaal">
                            <td data-ng-show="woz_object.report_type==='grond'||woz_object.report_type==='incourant'||woz_object.report_type==='huurwaardekapitalisatie'">&nbsp;</td>
                            <td colspan="4" style="text-align: right;" align="right"><strong>Totaal:</strong></td>
                            <td><strong>&euro; <[woz_object.totale_waarde | number:0]></strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>

 

            <div class="woz-taxatierapport-row" data-ng-show="woz_object.report_type==='woning'">
                <div class="woz-taxatierapport-label">Toelichting:</div>
                <div class="woz-taxatierapport-text" data-ng-bind-html="getTrustedHtml(settings.woz_object_text)"></div>
            </div>

<!--
        <div class="woz-taxatierapport-row"><td colspan="2">&nbsp;</td></div>
        <div class="woz-taxatierapport-row"><td colspan="2"><strong>Marktgegevens getaxeerde woning</strong></td></div>
        <div class="woz-taxatierapport-row">
            <td>Datum overdracht notaris:</td><td> --- geen info beschikbaar ---</td>
        </div>
        <div class="woz-taxatierapport-row">
            <td>Verkoopprijs:</td><td> --- geen info beschikbaar ---</td>
        </div>
-->



        </div>

        <div class="woz-taxatierapport-group">

            <div class="woz-taxatierapport-title">
                <strong>Kadastrale percelen betrokken in deze taxatie</strong>
            </div>

            <div class="woz-taxatierapport-row">
                <table class="woz-data-table">
                    <thead>
                        <tr>
                            <th>Kadastrale gemeente</th>
                            <th>Sectie</th>
                            <th>Perceelnummer</th>
                            <th>Letter</th>
                            <th>Indexnummer</th>
                            <th>Oppervlakte m2</th>
                        </div>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="kadastraal_perceel in woz_object.kadastrale_identificatie">
                            <td><[kadastraal_perceel['Kadastrale gemeentecode']]></td>
                            <td><[kadastraal_perceel['Sectie']]></td>
                            <td><[kadastraal_perceel['Perceelnummer'] | number:0 ]></td>
                            <td><[kadastraal_perceel['Perceel-index-letter']]></td>
                            <td><[kadastraal_perceel['Perceel-index-nummer']  | number:0  ]></td>
                            <td><[kadastraal_perceel['Toegekende oppervlakte']  | number:0 ]></td>
                        </div>
                    </tbody>
                </table>
            </div>


            <div class="woz-taxatierapport-row" data-ng-show="woz_object.report_type==='woning'">
                <div class="woz-taxatierapport-label">Toelichting kadastrale percelen:</div>
                <div class="woz-taxatierapport-text" data-ng-bind-html="getTrustedHtml(settings.woz_kadastrale_percelen_text)"></div>
            </div>

        </div>


<!--

        <div class="woz-taxatierapport-row"><td colspan="2">&nbsp;</td></div>
        <div class="woz-taxatierapport-row">
            <td colspan="2"><strong>Kadastrale identificatie:</strong></td>
        </div>

        <div class="woz-taxatierapport-row"><td colspan="2">
            <table data-ng-repeat="kadastraal_perceel in woz_object.kadastrale_identificatie">
                <div class="woz-taxatierapport-row">
                    <td colspan="2"><strong>Kadastrale gemeente <[kadastraal_perceel['Kadastrale gemeentecode']]></td></td>
                </div>
                <div class="woz-taxatierapport-row">
                    <td>Sectie:</td><td><[kadastraal_perceel['Sectie']]></td>
                </div>
                <div class="woz-taxatierapport-row">
                    <td>Perceelnummer:</td><td><[kadastraal_perceel['Perceelnummer']]></td>
                </div>
                <div class="woz-taxatierapport-row">
                    <td>Letter:</td><td><[kadastraal_perceel['Perceel-index-letter']]></td>
                </div>
                <div class="woz-taxatierapport-row">
                    <td>Indexnummer:</td><td><[kadastraal_perceel['Perceel-index-nummer']]></td>
                </div>
                <div class="woz-taxatierapport-row">
                    <td>Oppervlakte:</td><td><[kadastraal_perceel['Meegetaxeerde oppervlakte gebouwd per']]></td>
                </div>
            </table>

        </td></div>
-->

        
        <div class="woz-taxatierapport-group">

            <div class="woz-taxatierapport-title" data-ng-show="woz_object.vergelijkbare_objecten.length">
                <strong>Referentie objecten:</strong>
            </div>


            <div class="woz-taxatierapport-row" data-ng-show="woz_object.vergelijkbare_objecten.length">

                <div class="woz-taxatierapport-group woz-taxatierapport-group-inner" data-ng-repeat="vergelijkbaar_object in woz_object.vergelijkbare_objecten | limitTo:3">

                    <div class="woz-taxatierapport-title woz-taxatierapport-title-primary">
                        <strong>Verkochte woning <[vergelijkbaar_object['Indicatie vermelding op taxatieverslag']]></strong>
                    </div>

                    <div class="woz-info clearfix">

                        <div class="woz-photo-wrap">
                            <div class="woz-photo woz-photo-unavailable img-not-available">
                                <img class="woz-photo-img" data-zs-img-load="" data-ng-src="/plugins/woz/photo/?object_id=<[vergelijkbaar_object['WOZ-objectnummer referentie-object']]>" />
                                <span>Geen foto beschikbaar</span>
                            </div>
                        </div>

                        <div class="woz-taxatie-rapport-object-info woz-taxatierapport-group-inner">
                            <div class="woz-taxatierapport-row">
                                <div class="woz-taxatierapport-label">Straatnaam:</div>
                                <div class="woz-taxatierapport-text"><[vergelijkbaar_object.woz_object['Straatnaam']]></div>
                            </div>
                            <div class="woz-taxatierapport-row">
                                <div class="woz-taxatierapport-label">Huisnummer:</div>
                                <div class="woz-taxatierapport-text"><[vergelijkbaar_object.woz_object['Huisnummer'] | number:0 ]><[vergelijkbaar_object.woz_object['Huisletter']]><[vergelijkbaar_object.woz_object['Huisnummertoevoeging']]></div>
                            </div>
                            <div class="woz-taxatierapport-row">
                                <div class="woz-taxatierapport-label">Postcode:</div>
                                <div class="woz-taxatierapport-text"><[vergelijkbaar_object.woz_object['Postcode']]></div>
                            </div>
                            <div class="woz-taxatierapport-row">
                                <div class="woz-taxatierapport-label">Woonplaats:</div>
                                <div class="woz-taxatierapport-text"><[vergelijkbaar_object.woz_object['Woonplaatsnaam']]></div>
                            </div>
                            <div class="woz-taxatierapport-row">
                                <div class="woz-taxatierapport-label">Verkoopdatum (overdracht bij notaris):</div>
                                <div class="woz-taxatierapport-text"><[vergelijkbaar_object.marktinformatie['Datum transactie'] |dateParse | date:medium ]></div>
                            </div>
                            <div class="woz-taxatierapport-row">
                                <div class="woz-taxatierapport-label">Verkoopprijs:</div>
                                <div class="woz-taxatierapport-text">&euro; <[vergelijkbaar_object.marktinformatie['Transactieprijs'] | number:0]></div>
                            </div>
                            <div class="woz-taxatierapport-row">
                                <div class="woz-taxatierapport-label">Vastgestelde WOZ-waarde:</div>
                                <div class="woz-taxatierapport-text">&euro; <[vergelijkbaar_object.woz_object['Vastgestelde waarde'] | number:0 ]></div>
                            </div>
                            <div class="woz-taxatierapport-row">
                                <div class="woz-taxatierapport-label">Waardepeildatum:</div>
                                <div class="woz-taxatierapport-text"><[vergelijkbaar_object.woz_object['Waardepeildatum'] | dateParse | date:medium]></div>
                            </div>
                        </div>

                    </div>

                    <br/>

                    <div class="woz-taxatierapport-title woz-taxatierapport-title"><strong>Objectkenmerken</strong></div>
                    <div class="woz-taxatierapport-row">
                        <div class="woz-taxatierapport-label">Soort woning:</div>

                        <div class="woz-taxatierapport-text"><[woz_object.objectcodes[vergelijkbaar_object.woz_object.onderbouwing_taxatie['Type-aanduiding']]["Omschrijving Vastgoedobjectsoort"]]></div>
                    </div>

                    <div class="woz-taxatierapport-row woz-taxatierapport-row-table">

                       <table class="woz-data-table">
                            <thead>
                                  <tr>
                                      <th>Onderdelen</th>
                                      <th>Bouwjaar</th>
                                      <th>Oppervlakte m2</th>
                                      <th>Inhoud m3</th>
                                  <tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="onderdeel in vergelijkbaar_object.woz_object.onderbouwing_taxatie_onderdeel">
                                    <td><[woz_object.partialobjectcodes[onderdeel['Code onderdeel WOZ-object']]["Omschrijving code onderdeel"]]></td>
                                    <td><[onderdeel['Bouwjaar']]></td>
                                    <td><[onderdeel['Oppervlakte'] | number:0 ]></td>
                                    <td><[onderdeel['Inhoud'] | number:0 ]></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>

            <div>

                <div class="woz-taxatierapport-row"  data-ng-show="woz_object.report_type==='woning'">
                    <div class="woz-taxatierapport-label">Toelichting taxatieverslag:</div>
                    <div class="woz-taxatierapport-text" data-ng-bind-html-unsafe="settings.woz_taxatieverslag_text"></div>
                </div>

            </div>

        </div>

    </div>

</div>
